*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1800px;
  padding: 0 1rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../photo/headerbg/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.header__nav {
  padding-top: 5rem;
  width: 100%;
  padding-bottom: 11rem;
}
.header__nav-menu {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link, .header__logo {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.header__title {
  font-size: 11rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-align: center;
  padding-bottom: 15rem;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__messangers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
.header__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.header__button {
  padding: 1.1rem 2rem;
  color: #fff;
  font-size: 0.8rem;
  background-color: transparent;
  border: 0.1rem solid #fff;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  cursor: pointer;
  text-transform: uppercase;
}
.header__catalog-link {
  display: flex;
  gap: 1rem;
  transform: rotate(90deg);
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.header__catalog-link img {
  max-width: 1.3rem;
  max-height: 1.3rem;
  transform: rotate(270deg);
}

.jobs {
  width: 100%;
  background-color: rgb(76, 63, 142);
  background-image: linear-gradient(126deg, #4c3f8e 0%, rgb(150, 142, 189) 100%);
  -webkit-box-shadow: 0px -45px 39px 14px #4c3f8e;
  -moz-box-shadow: 0px -45px 39px 14px #4c3f8e;
  box-shadow: 0px -20px 39px 14px #4c3f8e;
  background-color: #3B181E;
  background-color: rgb(76, 63, 142);
  background-image: linear-gradient(126deg, #3B181E 0%, #3B181E 100%);
  -webkit-box-shadow: 0px -45px 39px 14px #3B181E;
  -moz-box-shadow: 0px -45px 39px 14px #3B181E;
  box-shadow: 0px -20px 39px 14px #3B181E;
  padding: 10rem 0;
  position: relative;
}
.jobs__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-bottom: 1rem;
}
.jobs__title-hr {
  text-align: center;
  max-width: 10%;
  margin: 0 auto;
}
.jobs__title-shadow {
  font-size: 12rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5rem;
  text-align: center;
  opacity: 0.04;
  transform: scale(1.3);
  position: absolute;
}
.jobs__catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px 40px;
  margin-top: 9rem;
  grid-auto-flow: row;
  grid-template-areas: "sectionone sectionthree sectionfour sectionsix" "sectiontwo sectionthree sectionfive sectionseven";
}
.jobs__catalog-item {
  padding: 1rem 1rem 0rem 1rem;
  background-color: transparent;
  border: 1px solid #8a7676;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.jobs__catalog-item-titles {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  gap: 0.7rem;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 100%;
}
.jobs__catalog-item-titles hr {
  width: 20%;
}
.jobs__catalog-item-title {
  font-size: 1.3rem;
  color: #fff;
}
.jobs__catalog-item-img {
  max-width: 23.5rem;
  height: -webkit-fill-available;
  padding-bottom: 1.2rem;
  object-fit: cover;
}
.jobs__catalog-item-img-6 {
  object-fit: fill;
}
.jobs__catalog-item-text {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  line-height: 1.5rem;
  padding-bottom: 2rem;
}
.jobs__catalog-item-link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding-bottom: 1rem;
}
.jobs .sectionone {
  grid-area: sectionone;
}
.jobs .sectiontwo {
  grid-area: sectiontwo;
}
.jobs .sectionthree {
  grid-area: sectionthree;
}
.jobs .sectionfour {
  grid-area: sectionfour;
}
.jobs .sectionfive {
  grid-area: sectionfive;
}
.jobs .sectionsix {
  grid-area: sectionsix;
}
.jobs .sectionseven {
  grid-area: sectionseven;
}

.autor {
  background-image: linear-gradient(126deg, #4c3f8e 0%, rgb(150, 142, 189) 100%);
  -webkit-box-shadow: 0px -45px 39px 14px #6150b8;
  -moz-box-shadow: 0px -45px 39px 14px #6150b8;
  box-shadow: 0px -20px 39px 14px #6150b8;
  background-color: #3B181E;
  background-color: rgb(76, 63, 142);
  background-image: linear-gradient(126deg, #3B181E 0%, #3B181E 100%);
  -webkit-box-shadow: 0px -45px 39px 14px #3B181E;
  -moz-box-shadow: 0px -45px 39px 14px #3B181E;
  box-shadow: 0px -20px 39px 14px #3B181E;
  width: 100%;
  padding: 10rem 0;
}
.autor__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.autor__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  gap: 2rem;
}
.autor__content-title {
  color: #fff;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.autor__content hr {
  width: 20%;
}
.autor__content-text {
  color: #fff;
  font-size: 1.1rem;
}
.autor__content-btn {
  color: #fff;
  padding: 1.2rem 3rem;
  background-color: transparent;
  border: 1px solid #fff;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.autor__img {
  height: auto;
  width: 50%;
  max-width: 37rem;
  max-height: 28rem;
  object-fit: cover;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  box-shadow: 5px 5px 20px 5px darkslateblue, -5px -5px 20px 5px dodgerblue, inset 0px 0px 10px 2px darkslategray, inset 0px 0px 20px 10px steelblue;
}

.advantages {
  width: 100%;
  background-color: #3B181E;
  position: relative;
}
.advantages__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-bottom: 1rem;
}
.advantages__title-hr {
  text-align: center;
  max-width: 10%;
  margin: 0 auto;
}
.advantages__title-shadow {
  font-size: 12rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.2rem;
  text-align: center;
  opacity: 0.04;
  transform: scale(1.3);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.advantages__container {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 5rem;
}
.advantages__item {
  border-radius: 0.5rem;
  border: 1px solid #fff;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem;
  background-color: transparent;
  width: 30%;
  min-height: 9rem;
  max-width: 24%;
}
.advantages__item-content-title {
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.advantages__item-content-text {
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
}

.payment {
  width: 100%;
  background-color: #3B181E;
  position: relative;
}
.payment__title {
  font-size: 3rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.2rem;
  text-align: center;
  padding-bottom: 1rem;
}
.payment__title-hr {
  text-align: center;
  max-width: 10%;
  margin: 0 auto;
}
.payment__title-shadow {
  font-size: 12rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1.2rem;
  text-align: center;
  opacity: 0.04;
  transform: scale(1.3);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.payment__container {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  padding-bottom: 5rem;
}
.payment__card {
  min-width: 34rem;
  height: auto;
  background-color: #0A0A0E;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment .card1, .payment .card3 {
  min-width: 31rem;
}
.payment .card1 {
  background-color: #262835;
}
.payment .card3 {
  background-color: #101116;
}
.payment .card2 {
  transform: scale(1.2);
}
.payment__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.payment__card-logos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.payment__card-logo {
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.payment__card-logo-hr {
  width: 100%;
  max-width: 15%;
}
.payment__card-title, .payment__card-price {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  color: #fff;
  text-transform: uppercase;
}
.payment__card img, .payment__card-container img {
  max-width: 7.5rem;
  max-height: 7.5rem;
}
.payment__card-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}/*# sourceMappingURL=style.css.map */