*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
}
a{
    text-decoration: none;
}



// 
// font-family: "Merriweather", serif;
//   font-weight: 400;
//   font-style: normal;
// 

.container{
    margin: 0 auto;
    padding: 0 3rem;
    height: inherit;
}

.img330425{
    width: 330px;
    height: 425px;
    background-image: url('../photo/headerimg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 60px #a82cb5;
    border-radius: 1.5rem;
}

.header{
    width: 100%;
    height: auto;
    padding: 0 0 7rem 0;
    background-color: #121615;

    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 1rem;
        border-radius: 1.5rem;
        margin-bottom: 5rem;
        box-shadow: 0px 20px 30px #a82cb5;

    }

    &__logo{
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        color: #f6f6f6;
        font-size: 2rem;
        letter-spacing: .2rem;
        background-image: url('../photo/logo.PNG');
        width: 12.5rem;
        height: 6rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    &__mobmenu{
        padding: 1rem 2.5rem;
        border: none;
        background: rgb(86,30,128);
        background: linear-gradient(90deg, #561e80 14% , #ce15e2 100% );
        border-radius: 1.5rem;
        text-align: center;
        letter-spacing: .2rem;
        color: #fff;
        cursor: pointer;
        opacity: 1;
        transition: all .5s;
        letter-spacing: .2rem;
        font-size: clamp(1rem,1.1rem,1vw);
    }

    &__mobmenu:hover{
        opacity: .7;
        transition: all .5s;
        letter-spacing: .3rem;

    }

    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        gap: 1rem;
    }

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
        gap: 1rem;
    }

    &__title, &__subtitle{
        font-family: "Merriweather", serif;
        font-weight: 300;
        font-style: normal;
        color: #f6f6f6;
        font-size: clamp(1.5rem,6rem,6vw);
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    &__subtitle{
        color: rgb(117, 54, 165);
        text-align: right;
    }

    &__text{
        color: #f6f6f6;
        text-align: center;
        letter-spacing: .1rem;
        font-size: clamp(.9rem,1rem,1vw);
    }

    &__mobcolor{
        background: linear-gradient(90deg, #ce15e2 14% , #561e80 100% );
    }

}

.about{
    padding-top: 4rem;
    height: 100vh;
    background-color: #121615;


    &__inner{
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 7rem;
        position: relative;
    }

    &__img{
        width: auto;
        height: clamp(10rem,30vw,30rem);
        background-size: contain;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 60px #a82cb5;
        
    }
    &__img-container{
        border: 2px dashed #ce15e2;
        border-radius: 50%;
        padding: clamp(2rem,14vw,18rem);
        box-shadow: 0px 0px 60px #a82cb5;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        gap: 1rem;
    }

    &__title{
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        color: #f6f6f6;
        font-size: clamp(1.5rem,3rem,6vw);
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    &__title span{
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        color: #a82cb5;
        font-size: clamp(1.5rem,3rem,6vw);
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: 2px dashed #ce15e2;
        padding: 1rem;
        border-radius: 1.5rem;
        box-shadow: 0px 0px 60px #a82cb5;
    }

    &__card-title{
        font-family: "Merriweather", serif;
        font-weight: 400;
        font-style: normal;
        color: #f6f6f6;
        font-size: clamp(.9rem,1vw,1.1rem);
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    &__card-text{
        color: #f6f6f6;
        font-size: clamp(.7rem,.9vw,1rem);
        letter-spacing: .2rem;
        text-transform: uppercase;
    }

    // &__spot{
    //     width: clamp(19rem,27vw,27rem);
    //     height: clamp(19rem,27vw,27rem);
    //     border-radius: 50%;
    //     top: 50%;
    //     position: sticky;
    //     background-image: url('../photo/blur.png');
    //     background-position: center center;
    //     background-repeat: no-repeat;
    //     background-size: cover;
    // }
}


































// //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//HEADER MEDIA//
@media (max-width:1000px) {
    .header{
        padding: 0;
    }
    .header__mobmenu{
        padding: 1rem 1.5rem;
    }
    .header__inner{
        flex-direction: column;
    }
    .header__title, .header__subtitle {
        font-size: clamp(.6rem, 5rem, 8vw);
    }
}

@media (max-width:500px) {
    .img330425{
        width: 260px;
        height: 300px;
    }

    .header__nav{
        margin-bottom: 3rem;
        flex-direction: column;
        gap: .5rem;
        padding: 1rem 0;
    }
    
}

@media (max-width:320px) {
    .img330425{
        width: 225px;
        height: 280px;
    }
    
}
// ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//ABOUT MEDIA//


@media (max-width:1100px) {
    .about__inner{
        flex-direction: column;
    }
    .about{
        height: auto;
        padding-bottom: 3rem;
    }

    .about__img-container{
        min-width: 60%;
        max-height: 50vh;
        min-height: 27vh;

    }

    .about__inner{
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

@media (max-width:360px) {
    .about__img-container{
        width: 100%;
        height: 27vh;
    }
}

@media (max-width:320px) {
    .about__img-container{
        width: 100%;
        height: 23vh;
    }
}





// ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////